---
export const prerender = true;

import { getCollection } from "astro:content";
import Page from "../../layouts/Page.astro";

const posts = (
	await getCollection("blog", ({ data, id }) => {
		return id.includes(Astro.currentLocale ?? Astro.preferredLocale ?? "de");
	})
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Page title="Hallo, Welt!">
	<Fragment slot="head">
		<title>Blog Übersicht</title>
	</Fragment>
	<Fragment slot="main">
		<h1>Hallo, Welt!</h1>
		<section aria-label="Blog-Beiträge">
			{posts.map((post) => (
			<article>
				<h2>{post.data.title}</h2>
				<p>Von {post.data.author} am <time datetime={post.data.date.toISOString()}>{post.data.date.toLocaleDateString("de-DE")}</time> veröffentlicht</p>
				<a href={`/${post.id}`} aria-label={`Weiterlesen: ${post.data.title}`}>Weiterlesen</a>
			</article>
		))}
		</section>
	</Fragment>
</Page>
